<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230396376196-ijl7vb57230tqierv61im01utocm2252.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230396376196-ijl7vb57230tqierv61im01utocm2252</string>
	<key>API_KEY</key>
	<string>AIzaSyDLddv5Xi_d6_g4Jf6xNdzsP3mBgmG1oiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>230396376196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ethan-hanlon.DonutComply</string>
	<key>PROJECT_ID</key>
	<string>donutcomply-f1cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>donutcomply-f1cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230396376196:ios:862cfc1bb01d843e137ed1</string>
</dict>
</plist>